[Unit]
Description=synchronises data from a salesforce instance to PostgreSQL using mapping tables
RefuseManualStart=no
RefuseManualStop=no

[Service]
Type=simple
User=salesforce2pg
ExecStart=/var/lib/salesforce2pg/sync.py

[Install]
#WantedBy=multi-user.target
WantedBy=timers.target
