[Unit]
Description=salesforce data sync service
RefuseManualStart=no
RefuseManualStop=no

[Service]
Type=simple
User=salesforce_sync
ExecStart=~salesforce_sync/sync.py

[Install]
#WantedBy=multi-user.target
WantedBy=timers.target
